/*CSS reset settings */
*{
	margin: 0;
	padding: 0;
	font-family: Tahoma, sans-serif;
	/*border: 1px solid red;*/
}
.container{
	width: 750px;
	margin: 0 auto;
	border: 1px solid black;

	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/*header section*/
.header{
	border-bottom: 1px solid black;
	padding: 0 0 10px 10px;
	background-color: silver;
}
.header > h4{
	text-align: center;
}
.header input{
	border: 1px solid black;
	font-size: 14px;	
}
ul, input{
	display: inline;
	vertical-align: center;
}
ul li{
	display: inline-block;
	vertical-align: bottom;
	font-size: 50px;
}
ul, input{
	display: inline;
	vertical-align: center;
}
ul li{
	display: inline-block;
	vertical-align: bottom;
	font-size: 50px;
}
#nav{
	width: 350px;
	margin: 0 0 25px 25px;
}
#home{
	margin-top: 10px;
}
#search{
	width: 100px;
	margin-left: 40px;
	background-image:url("http://i47.tinypic.com/r02vbq.png");
	background-repeat: no-repeat;
    background-position: left;
}
#searchIcon{
	margin-left: 50px;
}
/*#############################################################*/
/*main section*/
.welcome{
	border-bottom: 1px solid black;
	padding-left: 15px;
}
.welcome span{
	display: inline-block;
	padding: 5px;
}
.welcome span:first-child{
	padding: 5px;
	font-size: large;
}
.welcome span:nth-of-type(-n+2){
	width: 35%;	
}
.welcome span:nth-of-type(2){
	text-align: right;
	padding-right: 50px;
}
.welcome span:last-child{
	padding: 5px;	
}
.post_msg > h4{
	text-align: left;
	margin-left: 150px;
	margin-top:50px;
}
.new_msg{
	padding: 5px;
	text-align: left;
	vertical-align: top;
	width: 450px;
	height: 50px;
	margin-top: 5px;
	margin-bottom: 15px;
	border: 1px solid black;
}
form{
	width: 350px;
	margin: 10px 0 0px 150px;
	padding: 5px;
	padding-right: 100px;
}
.messages{
	margin-left: 150px;
	overflow: auto;
	max-height: 400px;
}
.msg_user{
	margin-bottom: 5px;
}
.msg_msg{
	margin-bottom: 25px;
	margin-left: 25px;
}
#login_btn{
	margin-left: 152px;
	width: 155px;
}
.login > form > label{
	text-align: right;
}
input, label{
	display: inline-block;
	height: 20px;
	width: 150px;
	margin: 1px;
	}
/*position the Post a message button*/
#post_btn{
	margin-left: 360px;
}
#register_btn{
	margin-left: 152px;
	width: 155px;
}
.show{
	display: visible;
}
.hide{
	display: none;
}


/*footer section*/
.footer{
	height: 25px;
	background-color: silver;
	border-top: 1px solid black;
}

