<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Wall</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<div class="container">
		
		<div class="header">		
			<h4>Wall Assignment - Intermediate version</h4>
			<ul>
				<li>&#x21e6;</li>
				<li>&#x21e8;</li>
				<li>&#x2716;</li>
				<li><img src="{{ url_for('static',filename='images/home.png') }}" alt="home icon"></li>
			</ul>
			<input type="text" id="nav" value="http://localhost/">
			<input type="text" id="search">
		</div>


		<div class="main">
			<div class='welcome'>
				<span>CodingDojo Wall</span>
				<span>{{ greeting }}</span>
				{%  if login=='log in' %} 	 <!-- value for login will be either 'log in' or 'log off'-->
					<span class='logoff'><a href="{{ url_for('showform', action='login') }}">{{ login }}</a></span>
					<span class='logoff'><a href="{{ url_for('showform', action='register') }}">{{ register }}</a></span>
				{% else %}
					<span class='logoff'><a href="{{ url_for('logoff') }}">{{ login }}</a></span>
				{% endif %}
			
			</div>

			<div class='post_msg {{ show_msg_input }}'>
				<h4>Post a message</h4>
				<form action='/post_msg' method='post'>
					<textarea class='new_msg' name='new_msg' placeholder='{{ new_msg_default }}' {{ enabled }}></textarea>
					<input type="submit" {{ enabled }} value='Post a message' id='post_btn' >
				</form>
			</div>
			
			<!-- this div contains dynamically generated messages -->
			<div class='messages {{ show_messages }}'>
				<!-- dynamically generated posts go here -->
				{% for message in all_messages %}
					<p class='msg_user'>{{ message['name'] }} - {{ message['create_date'] }}</p>
					<p class='msg_msg'>{{ message['message'] }}</p>

				{% endfor %}
				<p>{{ new_msg }}</p>
			</div>

			<!-- this div is the login form -->
			<div class='login {{ show_login }}'>
				<form action="/login" method='post'>
					<label for='email'>Email:</label><input type="text" name='email'> 
					<label for='password'>Password:</label><input type="text" name = 'password'>
					<input type="submit" class='submit' value='Log in' id='login_btn'>
				</form>
			</div>
			
			<!-- this div is the registration form -->
			<div class='register {{ show_register }}'>
				<form action="/register" method='post'>
					<label for='first_name'>First name:</label><input type="text" name='first_name'>
					<label for='last_name'>Last name:</label><input type="text" name='last_name'>
					<label for='email'>Email:</label><input type="text" name='email'> 
					<label for='password'>Password:</label><input type="text" name = 'password'>
					<label for='confirm_password'>Confirm password:</label><input type="text" name = 'confirm_password'>
					<input type="submit" class='submit' value='Register' id='register_btn'>
				</form>
			</div>

		</div>

		<div class="footer"></div>
	</div>
</body>
</html>